---
import Mision from "@components/mision.astro";
import Vision from "@components/vision.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import cableado from "assets/cableado.jpg";
import fondito2 from "assets/fond.jpg";
import fondito from "assets/cables.webp";
---

<Layout title="Nosotros">
  <div style={`position: relative; background-image: url(${fondito.src}); background-attachment: fixed; background-size: cover; background-position: center; height: 50vh; margin-left: 0; margin-right: 0;`}>
    <div style="background-color: rgba(0, 0, 0, 0.3); position: absolute; top: 0; bottom: 0; left: 0; right: 0;"></div>
    
    <div style="position: relative; display: flex; justify-content: center; align-items: center; height: 100%;">
      <h2 class="font-bold text-6xl text-gray-800 text-center text-white" style="filter: none;">
        Trayectoria
      </h2>
    </div>
  </div>
  
    
  </div>
  <Container>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16 font-poppins text-justify">
      <h2 class="font-bold text-5xl text-gray-800 text-center" style="filter: none;">
        Que es Telco Networks?
      </h2>
      <p class="text-3xl leading-relaxed text-slate-500">
        <p></p>
        Somos especialistas en el diseño y gestión de soluciones integrales en
        telecomunicaciones, cableado estructurado, sistemas de seguridad, telefonía
        digital, equipo activo, calidad de la energía, sistemas de detección/supresión de
        incendios.
        <p></p>
        Contamos con una experiencia sólida de más de 30 años, respaldada por la
        exitosa ejecución de proyectos en diversos sectores, como el bancario,
        comercial, manufacturero, así como en instituciones y dependencias
        gubernamentales. Esta trayectoria nos ha permitido establecer relaciones
        duraderas con cada uno de nuestros clientes, demostrando nuestra capacidad
        para ofrecer soluciones confiables y personalizadas que impulsan el éxito y la
        eficiencia en sus operaciones.
        <p></p>
        En TELCO, estamos comprometidos a seguir liderando en la vanguardia
        tecnológica y a ser el socio confiable que contribuye al crecimiento y el logro de
        los objetivos de nuestros clientes.
      </p>
    </div>
    <br><br>
    <img src={cableado.src} class="mx-auto rounded-xl hover:shadow-lg transition:transform hover:scale-110 hover:saturate-150" style="width: 600px; height: 250px; border-radius: 25px;">
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16 font-poppins text-justify">
      <h2 class="font-bold text-5xl text-gray-800 text-center">
        Historia
      </h2>
      <p class="text-2xl leading-relaxed text-slate-500 font-poppins">
        <p></p>
        Telco Networks se especializa en el diseño y gestión de soluciones integrales en telecomunicaciones, cableado estructurado, sistemas de seguridad, telefonía digital, equipo activo, calidad de la energía, y sistemas de detección y supresión de incendios. Con más de 30 años de experiencia, ha ejecutado proyectos exitosos en sectores como el bancario, comercial, manufacturero, y gubernamental.
        <p></p>
Desde sus inicios, Telco Networks se ha comprometido a ofrecer soluciones tecnológicas innovadoras y personalizadas, estableciendo relaciones duraderas con sus clientes. Su capacidad para adaptarse a las necesidades del mercado y mantener la vanguardia tecnológica ha sido clave para su éxito.
        <p></p>
La empresa destaca por su dedicación a la calidad y la innovación, consolidándose como un socio confiable que contribuye al crecimiento y logro de los objetivos de sus clientes. En Telco Networks, seguimos liderando con excelencia, siendo el aliado que nuestros clientes necesitan para prosperar en un entorno tecnológico en constante evolución.
      </p>
    </div>
    <br>
    <br>
  </Container>
  <div style={`position: relative; background-image: url(${fondito2.src}); background-attachment: fixed; background-size: cover; background-position: center; height: 50vh; margin-left: 0; margin-right: 0;`}>
    <div style="background-color: rgba(0, 0, 0, 0.3); position: absolute; top: 0; bottom: 0; left: 0; right: 0;"></div>
    
    <div style="position: relative; display: flex; justify-content: center; align-items: center; height: 100%;">
      <h2 class="font-bold text-6xl text-gray-800 text-center text-white" style="filter: none;">
        Nuestros Ideales
      </h2>
    </div>
  </div>
  <Container>
    
    <Mision />
    <Vision />
  </Container>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</Layout>







             