---
import redes from "assets/whatsapp.svg";
import gmail from "assets/gmail.svg";
import telefono from "assets/telefono.png";
---
<br>
<br>
<br>
<br>
<footer class="bg-white text-black py-4" style="background-color: black;">
  <div class="flex justify-center mt-2">
    <a href="https://www.whatsapp.com" target="_blank" class="mx-2"><img src={redes.src} alt="WhatsApp"  style="width: 35px; height: 35px;" /></a>
    <a href="mailto:contacto@telcolaguna.com.mx" class="mx-2"><img src={gmail.src} alt="Gmail" style="width: 35px; height: 35px;" /></a>    
    <a href="tel:+528717207988" class="mx-2"><img src={telefono.src} alt="Telefono" style="width: 35px; height: 35px;" /></a> 
   </div>
    
  <div class="container mx-auto px-4">
    <div class="flex justify-center items-center" style="height: 100%;">
      <p class="text-white">
        Copyright © {new Date().getFullYear()} Telco Networks.
      </p>
    </div>
    
    
  </div>
</footer>