---

import redes from "assets/mision.jpg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-3 md:order-1 block">
    <div class="carousel-container relative">
      <div class="carousel-slide">
        <img src={redes.src} alt="Imagen 3" class="w-3/4 h-full object-cover object-center rounded-md bg-white mx-auto hover:shadow-lg transition:transform hover:scale-110 hover:saturate-150" style="border-radius: 25px;" />
      </div>
    </div>
  </div>
  <div>
    <h1 class="text-3xl lg:text-6xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter">
      Misión
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
        Ofrecer soluciones a nuestros clientes a
        través de la implementación de
        tecnología de punta por medio de
        nuestro personal especializado.
        Generamos certeza y confianza a
        nuestros clientes apegándonos a los
        procesos de calidad.
    </p>
  </div>
</main>
